* {
  padding: 0;
  margin: 0;
}

.body {
  font-family: Roboto Mono, sans-serif;
  padding: 1rem;
  background-color: #FFE7CC;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header h2 {
  letter-spacing: 0.5rem;
}
.header button {
  text-align: center;
  width: 130px;
  height: 50px;
  font-family: Roboto Mono, sans-serif;
  font-size: 15px;
  border-radius: 2rem;
  outline: none;
  border-color: transparent;
  background-color: #FFE7CC;
}
.header button:hover{
background-color: #FFE7CC;
box-shadow: 10px 10px 10px;
}
.book {
  display: flex;
  flex-direction: column;
}
.book img {
  width: 20rem;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.book-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.book button {
  text-align: center;
  width: 140px;
  height: 50px;
  font-family: Roboto Mono, sans-serif;
  font-size: 15px;
  border-radius: 2rem;
  margin-top: 1rem;
  gap: 5rem;
  border-color: transparent;
  background-color: #FFE7CC;
}

.book button:hover{
  background-color: #FFE7CC;
  box-shadow: 10px 10px 10px;
}

